<header>
  <nav class="navbar navbar-expand-md navbar-custom">
    <div class="container-fluid flex-nowrap">
      <div class="d-flex ">
        <a class="navbar-brand" href="javascript:void(0)">Customer<br>Portal
        </a>
      </div>

      <div class="nav-main collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="javascript:void(0)">Accounts</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="javascript:void(0)">Properties</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="javascript:void(0)">Payments</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="javascript:void(0)">Mailbox</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="javascript:void(0)">My Documents</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="javascript:void(0)">Contact Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="onLogout()"> Logout </a>
          </li>
        </ul>
      </div>

      <div class="">
        <ul class="navbar-nav d-flex align-items-center mr-0 justify-content-end">

          <li class="nav-item">
            <a class="nav-link d-flex align-items-center justify-content-center" href="javascript:void(0)"
              role="button">
              <i class="fi fi-rr-bell"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link d-flex align-items-center justify-content-center" href="javascript:void(0)"
              role="button">
              <i class="fi fi-rr-comment-alt"></i>
            </a>
          </li>
          <li class="nav-item dropdown header-dropdown">
            <a class="nav-link d-flex align-items-center" aria-current="page" href="javascript:void(0)" role="button"
              id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
              <div class="user-text clearfix">
                <div class="user-image float-end">
                  <img width="100%" class="" src="../../../../assets/images/profile-img.png" title="No Profile"
                    alt="No Profile">
                </div>
                <div class="overflow-hidden">
                  <span class="user-title red-color">Migule</span>
                  <span class="user-subtitle">Last Connection:<br>
                    <b>06.07.2023 / 9:26</b></span>
                </div>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>