<header>
    <nav class="navbar navbar-expand-md navbar-custom">
        <div class="container-fluid flex-nowrap">
            <div class="d-flex ">
                <a class="navbar-brand" href="javascript:void(0)">Customer<br>Portal
                </a>
            </div>


            <div class="w-100">
                <ul class="navbar-nav d-flex align-items-center mr-0 justify-content-end">

                    <li class="nav-item dropdown header-dropdown">
                        <a class="nav-link d-flex align-items-center" aria-current="page"
                            href="javascript:void(0)" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <div class="user-text clearfix">
                                <span class="user-title red-color">Pepper<br> Advantage </span>
                            </div>
                        </a>

                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<router-outlet></router-outlet>

<footer>
    <div class="container">
        <div class="footer-text ">
            <div class="d-flex">
                <div class="pr-1">
                    <h3>
                        Pepper <br> Advantage
                    </h3>
                </div>
                <div>
                    <p class="">Copyright © Pepper Advantage Technologies Limited 2023. Pepper Advantage is the trading
                        name of
                        Pepper Advantage Technologies Limited. Company Number 13572732. Registered Office: Third Floor,
                        East
                        Suite, Carrington House, 126-130 Regent Street, London, England, W1B 5SE.</p>
                </div>
            </div>
        </div>
    </div>
</footer>