<footer>
    <div class="container">
        <div class="footer-text ">
            <div class="d-flex">
                <div class="pr-1">
                    <h3>
                        Pepper|<br> Advantage
                    </h3>
                </div>
                <div>
                    <p class="">Copyright © Pepper Advantage Technologies Limited 2023. Pepper Advantage is the trading
                        name of
                        Pepper Advantage Technologies Limited. Company Number 13572732. Registered Office: Third Floor,
                        East
                        Suite, Carrington House, 126-130 Regent Street, London, England, W1B 5SE.</p>
                </div>
            </div>
        </div>
    </div>
</footer>